@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --primary-color: #99a98f;
   --decent-color: #d6e8db;
   --accent-color: #fff;
   --secondary-color: rgb(9, 189, 9);
   --font-family: 'Poppins', sans-serif;
   --text-color: gray;
}

* {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: var(--font-family);
}

body {
   background: #fff;
   padding: 0 10%;
}

.header {
   padding: 1rem 0;
}

.header-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.burger-icon {
   padding: 10px;
   background-color: var(--primary-color);
   color: var(--accent-color);
   border-radius: 5px;
   cursor: pointer;
}

.search-box {
   background: var(--decent-color);
   border-radius: 10px;
   flex: 1;
   align-items: center;
   padding: 0 1rem;
}

.search-box i {
   color: var(--primary-color);
}

.search-box input {
   background: transparent;
   padding: 10px;
   width: 80%;
}

.menu-icons {
   display: flex;
   align-items: center;
   gap: 10px;
}

.menu-icons i {
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
   background: var(--decent-color);
}

.fa-cart-shopping {
   background: transparent;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
}

.cart-icon {
   position: relative;
}

.cart-icon span {
   background: var(--secondary-color);
   color: var(--accent-color);
   border-radius: 50%;
   width: 15px;
   height: 15px;
   font-size: 9px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   position: absolute;
   right: -5px;
   top: -5px;
}
.fa-cart-bowl {
   background: transparent;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
}

.bowl-icon {
   position: relative;
}

.bowl-icon span {
   background: var(--secondary-color);
   color: var(--accent-color);
   border-radius: 50%;
   width: 15px;
   height: 15px;
   font-size: 9px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   position: absolute;
   right: -5px;
   top: -5px;
}

.cover {
   background-image: url('../assets/cover2.jpg');
   background-size: cover;
   height: 45vh;
   background-position: center;
   border-radius: 10px;
   margin-top: 10px;
   position: relative;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cover-overlay {
   background: rgba(0, 0, 0, 0.7);
   height: 100%;
   color: #ffcc00;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   border-radius: 10px;
   text-align: center;
   padding: 20px;
}

.cover h1 {
   font-size: 3rem;
   margin: 0;
   color: #ffffff;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.slogan {
   font-size: 1.5rem;
   margin-top: 10px;
   color: #ffffff;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.section-heading {
   font-size: 18px;
   text-transform: uppercase;
   margin: 1rem 0 10px 0;
   color: var(--text-color);
}

.menu-list {
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
}

.menu-item {
   width: 180px;
   display: flex;
   align-items: center;
   flex-direction: column;
   border: 2px solid var(--decent-color);
   padding: 10px 13px;
   border-radius: 10px;
   color: var(--text-color);
   cursor: pointer;
}

.menu-item img {
   width: 100%;
}

.card-list {
   display: flex;
   gap: 18px;
   flex-wrap: wrap;
   margin-bottom: 2rem;
}

.card {
   width: 210px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   padding: 10px 1rem;
   border-radius: 20px;
   background: var(--accent-color);
   text-align: center;
   color: var(--text-color);
   border: 2px solid var(--primary-color);
}

.card img {
   width: 100%;
   height: 150px;
   object-fit: cover;
   border-radius: 10px;
}

.card-price {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-between;
}

.card-price .price {
   color: var(--primary-color);
   font-weight: 600;
}

.add-to-cart {
   background: var(--primary-color);
   color: var(--accent-color);
   border-radius: 50%;
   padding: 5px;
   cursor: pointer;
}

.add-to-cart:hover {
   color: var(--accent-color);
   box-shadow: rgba(0 0 0 / 0.6) px 4px 4px, rgba(231 236 236) 0px 0px 0px 3px;
}

.sidebar {
   width: 500px;
   height: 100%;
   position: fixed;
   top: 0;
   right: -500px;
   background-color: var(--accent-color);
   box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
   transition: right 0.5s ease-in-out;
   z-index: 1000;
   padding: 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   overflow-y: auto;
   max-height: calc(100vh - 60px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sidebar.open {
   right: 0;
}

.sidebar-close {
   position: absolute;
   right: 10px;
   top: 10px;
   cursor: pointer;
}

.cart-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   border-bottom: 1px solid #ddd;
}

.cart-item img {
   width: 80px;
   height: 80px;
   object-fit: cover;
   border-radius: 5px;
}

.quantity-controls {
   display: flex;
   align-items: center;
}

.quantity-btn {
   background-color: #ddd;
   color: #333;
   border: none;
   padding: 5px 10px;
   margin: 0 5px;
   cursor: pointer;
   border-radius: 5px;
}

.quantity-btn:hover {
   background-color: #ccc;
}

.remove-btn {
   background-color: #ff6347;
   color: #fff;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 5px;
}

.remove-btn:hover {
   background-color: #e74c3c;
}

.sidebar-footer {
   width: 100%;
}

.total-amount {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 2px solid var(--decent-color);
   border-radius: 5px;
   padding: 15px 10px;
}

.cart-total {
   font-size: 16px;
   color: black;
   font-weight: 500;
}

button-container {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.checkout-btn {
   background: var(--secondary-color);
   color: var(--accent-color);
   border-radius: 5px;
   cursor: pointer;
   padding: 10px;
   flex: 1;
   margin-right: 10px;
}
.fa-bookmark {
   position: relative;
   top: -16px;
   right: -99px;
   overflow: hidden;
   font-size: 1.8rem;
   cursor: pointer;
   color: var(--primary-color);
}

.sidebar1 {
   width: 500px;
   height: 100%;
   position: fixed;
   top: 0;
   left: -500px;
   background-color: var(--accent-color);
   box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
   transition: left 0.5s ease-in-out;
   z-index: 1000;
   padding: 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   overflow-y: auto;
   max-height: calc(100vh - 60px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sidebar1.open {
   left: 0;
}

.sidebar-close1 {
   position: absolute;
   right: 10px;
   top: 10px;
   cursor: pointer;
}
.favorites-items {
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.favorites-items .card {
   background-color: #fff;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   width: calc(50% - 20px);
   margin: 10px 0;
   max-width: 300px;
   flex-shrink: 0;
   position: relative;
}

.favorites-items .card img {
   width: 100%;
   height: 150px;
   object-fit: cover;
   border-radius: 5px;
   margin-bottom: 10px;
}

.favorites-items .card .card-title {
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 5px;
}

.favorites-items .card .price {
   font-size: 14px;
   color: var(--secondary-color);
}

.favorites-items .card .remove-from-favorites {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: red;
   color: white;
   border: none;
   border-radius: 50%;
   width: 24px;
   height: 24px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 14px;
   line-height: 1;
   transition: background-color 0.3s;
}

.favorites-items .card .remove-from-favorites:hover {
   background-color: darkred;
}

.popup-card1 {
   display: none;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom: 335px;
   right: 20px;
   z-index: 1000;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   width: 300px;
   border-radius: 10px;
   height: auto;
}

.card-content {
   width: 100%;
}

.info-container {
   text-align: left;
}

.info-item {
   margin-bottom: 10px;
   border-bottom: 1px solid #ddd;
}

.info-item span {
   display: inline-block;
   width: 100px;
}

.b {
   font-weight: 500;
}

.button-container {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.add-btn {
   width: 48%;
   margin-top: 0;
   background: blue;
   color: var(--accent-color);
   border-radius: 5px;
   cursor: pointer;
   padding: 10px;
   display: inline-block;
   text-align: center;
   border: none;
}

.add-btn:hover {
   background-color: rgba(73, 15, 230, 1);
   color: white;
}
.login-btn {
   width: 48%;
   margin-top: 0;
   background: rgb(255, 0, 0);
   color: var(--accent-color);
   border-radius: 5px;
   cursor: pointer;
   padding: 10px;
   display: inline-block;
   text-align: center;
   border: none;
}

.login-btn:hover {
   background-color: rgba(255, 0, 0, 0.8);
   color: white;
}

form input {
   width: 100%;
   padding: 0.5rem;
   margin-top: 0.5rem;
   border-radius: 5px;
   border: 1px solid #ccc;
}

form button {
   margin-top: 1rem;
}
.blur-background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   z-index: 999;
}

.popup-card2 {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   z-index: 1000;
}

.popup-card2 form {
   margin-top: 20px;
}

.popup-card2 form label {
   display: block;
   margin-bottom: 5px;
}

.popup-card2 form input {
   width: 100%;
   padding: 8px;
   margin-bottom: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

.popup-card2 form button {
   width: 100%;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
}

.popup-card2 form button[type='submit'] {
   background-color: var(--secondary-color);
   color: var(--accent-color);
   border: none;
}

.popup-card2 form button[type='submit']:hover {
   background-color: #0056b3;
   color: white;
}

.popup-card2 form button[type='button'] {
   background-color: #e74c3c;
   color: white;
   border: none;
   margin-top: 10px;
}

.popup-card2 form button[type='button']:hover {
   background-color: #c0392b;
}
h3 {
   text-align: center;
   margin-bottom: 20px;
   color: #333;
}
.blur {
   filter: blur(5px);
}
.blur-background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   z-index: 999;
}
.share-icons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.share-icon {
   font-size: 24px;
   cursor: pointer;
}
.footer {
   background-color: var(--primary-color);
   color: white;
   padding: 20px 0;
}
.footer .container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.footer-content {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 1200px;
}
.footer-about,
.footer-links,
.footer-social {
   flex: 1;
   margin: 10px;
}
.footer-about h3,
.footer-links h3,
.footer-social h3 {
   margin-bottom: 15px;
   font-size: 20px;
   color: white;
}
.footer-links ul,
.footer-social ul {
   list-style: none;
   padding: 0;
}
.footer-links ul li,
.footer-social ul li {
   margin-bottom: 10px;
}
.footer-links ul li a,
.footer-social ul li a {
   color: white;
   text-decoration: none;
}
.footer-social ul {
   position: relative;
   right: -140px;
   display: flex;
   gap: 15px;
   align-items: center;
}
.footer-social ul li a {
   font-size: 24px;
}
.footer-bottom {
   text-align: center;
   margin-top: 20px;
   color: white;
}
